---
import BlogEntry from '../components/BlogEntry.astro'
import Layout from '../layouts/Layout.astro'

type BlogFrontmatter = {
  title: string
  pubDate: string
  description: string
  minutesRead: string
  tags: string[]
  url?: string
}

type BlogPost = {
  frontmatter: BlogFrontmatter
  url: string
}

const posts = await Promise.all(
  Object.values(import.meta.glob<BlogPost>('./blog/*.md')).map(post => post())
)
---

<Layout
  title='Blog | AnthonyLzq'
  description='Technical posts by Anthony Luzquiños about TypeScript, Node.js, APIs, databases and backend development.'
>
  <h1>Blog</h1>
  <p>Here's the list of my blog posts:</p>
  <section>
    {
      posts
        .sort(
          (a, b) =>
            new Date(b.frontmatter.pubDate).getTime() -
            new Date(a.frontmatter.pubDate).getTime()
        )
        .map(post => (
          <BlogEntry
            title={post.frontmatter.title}
            pubDate={post.frontmatter.pubDate}
            description={post.frontmatter.description}
            minutesRead={post.frontmatter.minutesRead}
            tags={post.frontmatter.tags}
            url={post.url}
          />
        ))
    }
  </section>
</Layout>

<style>
  section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  @media (max-width: 480px) {
    section {
      grid-template-columns: 1fr;
    }
  }
</style>
